doctype html
html(ng-app="app")
    head
        meta(charset="utf-8")

        //- Display environment when not in production
        if environment === "production"
            title Angular Express
        else
            title= '[' + environment + '] - Angular Express'

        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", type="text/css", href="app.css")

        //- Non production environment
        //- Load jspm loader and configuration
        if environment !== "production"
            script(src="_jspm_packages/system.js")
            script(src="config.js")
            //- Bootstrap the application
            script.
                System.import('app');

        //- Production environment
        //- Load self executing bundle
        if environment === "production"
            script(src="build.js")

    body

        header
            h1 Angular Express
            h2 Component driven Angular development

        p Welcome to your Angular Express application!

        ngx-info.ng-cloak(ng-show="true")

        pre(ng-hide="true").
            Bootstrapping application, please wait...
            (If this message does not go away, something went wrong, check the console...)

        h3 What's next?

        ul
            li
                a(href="https://github.com/ngx-boilerplates/default", target="_blank") Learn more about this boilerplate
