pre.
    Angular bootstrapped successfully!

    Running Angular v{{ angularVersion.full }} ({{ angularVersion.codeName }})

    Loaded component in {{ config.baseUrl }}
    Directive name: {{ config.infoDirective.name }}
